.button {
    display: inline-block;
    padding: 5px 10px;

    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.publish {
    border-radius: 6px;
    border: 1px solid #28C3E9;
    background: #E2FAFF;

    color: #28C3E9;
}

.publish:hover {
    background: #28C3E9;
    color: #FFFFFF;
}

.publish:active {
    border-radius: 6px;
    border: 1px solid #28C3E9;
    background: #219DBC;
    color: #FFFFFF;
}

.delete {
    border-radius: 6px;
    border: 1px solid #F24343;
    background: #FFF0F1;

    color: #F24343;
}

.delete:hover {
    background: #F24343;
    color: #FFFFFF;
}

.delete:active {
    border-radius: 6px;
    border: 1px solid #F24343;
    background: #B53232;
    color: #FFFFFF;
}

.tag {
    border-radius: 6px;
    border: 1px solid #50B575;
    background: #EAFAF5;

    color: #50B575;
}

.tag:hover {
    background: #50B575;
    color: #FFFFFF;
}

.tag:active {
    border-radius: 6px;
    border: 1px solid #50B575;
    background: #3D8A59;
    color: #FFFFFF;
}

.search {
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    align-items: center;
    gap: 5px;

    border-style: none;
    border-radius: 3px;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.20);

    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.author, .date {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #12B980;
    font-size: 17px;
}

p {
    color: #5F5F5F;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
}

.read_full {
    display: flex;
    align-items: center;
    gap: 5px;

    color: #3F84F6;
    font-size: 17px;
    border: none;
    background-color: #F3F3F6;

    cursor: pointer;
}

.read_full > p {
    color: #3F84F6;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.read_full:hover {
    text-decoration: underline;
}

.read_full:active {
    text-decoration: underline;
    color: #3268BE;
}